<main>
  <h1> <%= @park.name %> </h1>
  <p>Admission cost: <%= @park.admissions %> </p>
  <% list = 1 %>
  <h3> Rides: </h3>
  <% @park.rides.each do |ride| %>
    <article id="ride-<%=ride.id %>">
      <p><%=list%>. <%= ride.name %></p><br/>
    </article>
    <% list = list + 1 %>
  <% end %>
  <h3>Average Thrill Rating of Rides: <%= @park.average %>/10</h3>
</main>
